<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Renaissance Artists</title>
    <link rel="stylesheet" href="/assets/style.css" media="screen" title="no title" charset="utf-8">


  </head>
  <body>
    <h1>Painters</h1>
    <!-- <input type="text" name="name" value=""> -->

    <div id="leftCol">
      <ul id="artists">
        <div>Loading artists</div>
        <!-- artists populate here from data.json -->
      </ul>
    </div>

    <div id="middleCol">
      <div id="description">
        Description of Artist
      </div>
    </div>

    <div id="rightCol">
      Images
      <!-- images populate here -->
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- javascript -->
    <script src='/assets/script.js'></script>
  </body>
</html>
